In [1]:
# Click into this cell and press shift-enter before using this notebook.
# This line loads the ability to use %%ai in your file
%load_ext jupyter_ai_magics
# These lines import the Python modules we commonly use in CMPSC 5A
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots

# lab02, Student Starter Code, CMPSC 5A, S25

## Tables

Tables are a structured representation of data and fundamental in viewing and analyzing data.

To get you up to speed with tables and all the functionality they bring with them, we'll be exploring the Word University Rankings table. As you can guess, this dataset has the information of the world's top universities and their rank along with the scoring factors that their rank was computed from. You will be analyzing this dataset throughout this lab notebook. Lets begin!

In [2]:
ranking = Table().read_table("data/world_university_rankings.csv")

In [3]:
ranking.show(10)

**Q1:** To get started, print all column names of the university ranking table and the number of rows. *Hint:* Check out https://inferentialthinking.com/chapters/06/Tables.html

In [4]:
#SOLUTION
ranking.labels

('rank',
 'ranking-institution-title',
 'location',
 'Overall scores',
 'Research Quality Score',
 'Industry Score',
 'International Outlook',
 'Research Environment Score',
 'Teaching Score')

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q2:** Filter your table to display the names of only the top 5 institutes by rank (i.e., no additional columns). 
*Hint:* https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html and https://inferentialthinking.com/chapters/06/Tables.html might be helpful.

In [5]:
#SOLUTION
ranking.select('rank', 'ranking-institution-title').where('rank', are.below_or_equal_to(5))

rank | ranking-institution-title
1    | Massachusetts Institute of Technology
2    | Stanford University
3    | University of Oxford
4    | University of California, Berkeley
5    | Peking University

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q3:** How can display the rows of only the universities of rank 1, 5, 10, 50, 100, and 500?
*Hint:* Think of a table function that can select individual rows. https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html

In [6]:
#SOLUTION
ranking.where("rank", are.contained_in([1, 5, 10, 50, 100, 500]))

rank | ranking-institution-title             | location      | Overall scores | Research Quality Score | Industry Score | International Outlook | Research Environment Score | Teaching Score
1    | Massachusetts Institute of Technology | United States | 94.8           | 92.2                   | 99.9           | 89.6                  | 96.5                       | 96
5    | Peking University                     | China         | 90.4           | 74.5                   | 95.4           | 94                    | 91.8                       | 96.3
10   | National University of Singapore      | Singapore     | 86.8           | 79.7                   | 97.9           | 80.4                  | 95.9                       | 79.9
50   | University of Minnesota               | United States | 70.6           | 77.3                   | 82             | 56.5                  | 72.8                       | 64.3
50   | Maastricht University                 | Netherlands   | 70.6           | 69.2                   | 93.8           | 96.3                  | 45                         | 48.5
100  | University of Massachusetts           | United States | 62.9           | 72.7                   | 66.6           | 73.2                  | 46.7                       | 55.2
500  | University of Milan                   | Italy         | 41.2           | 66.1                   | 50             | 50.2                  | 24.5                       | 15.2
500  | UiT The Arctic University of Norway   | Norway        | 41.2           | 71.6                   | 60             | 46.1                  | 17                         | 11.4

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q4:** The table has institutions from many different countries. Can you generate a table that only contains universities from the US?
*Hint:* Is there a function that allows you to filter functions based on a condition? https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html

In [7]:
#SOLUTION
ranking.where("location", "United States")

rank | ranking-institution-title             | location      | Overall scores | Research Quality Score | Industry Score | International Outlook | Research Environment Score | Teaching Score
1    | Massachusetts Institute of Technology | United States | 94.8           | 92.2                   | 99.9           | 89.6                  | 96.5                       | 96
2    | Stanford University                   | United States | 93.1           | 91.9                   | 100            | 83.5                  | 91.8                       | 98.2
4    | University of California, Berkeley    | United States | 90.6           | 95.2                   | 90.6           | 83.5                  | 92.7                       | 91.1
9    | Harvard University                    | United States | 87.1           | 95.2                   | 69.8           | 82.1                  | 93.4                       | 95
11   | Duke University                       | United States | 85.7           | 80.2                   | 100            | 83                    | 87.5                       | 77.7
12   | The University of Chicago             | United States | 85.6           | 95.8                   | 67.6           | 79                    | 93.5                       | 91.9
14   | Yale University                       | United States | 85             | 86.9                   | 67.8           | 85.1                  | 89.3                       | 96.1
15   | Columbia University                   | United States | 84.8           | 79.2                   | 77.3           | 87.7                  | 87.8                       | 92
16   | Northwestern University               | United States | 84.1           | 86.2                   | 77.2           | 79.8                  | 89.4                       | 88
17   | University of Pennsylvania            | United States | 82.9           | 86.9                   | 71.4           | 74.9                  | 89.2                       | 92.2
... (133 rows omitted)

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q4.1:** Lets take it up a notch. Can you generate a table that only contains universities from the US that have a research quality score above 90?
*Hint:* Work through the problem one step at a time

In [9]:
#SOLUTION
ranking.where("location", "United States").where("Research Quality Score", are.above(90))

rank | ranking-institution-title             | location      | Overall scores | Research Quality Score | Industry Score | International Outlook | Research Environment Score | Teaching Score
1    | Massachusetts Institute of Technology | United States | 94.8           | 92.2                   | 99.9           | 89.6                  | 96.5                       | 96
2    | Stanford University                   | United States | 93.1           | 91.9                   | 100            | 83.5                  | 91.8                       | 98.2
4    | University of California, Berkeley    | United States | 90.6           | 95.2                   | 90.6           | 83.5                  | 92.7                       | 91.1
9    | Harvard University                    | United States | 87.1           | 95.2                   | 69.8           | 82.1                  | 93.4                       | 95
12   | The University of Chicago             | United States | 85.6           | 95.8                   | 67.6           | 79                    | 93.5                       | 91.9
76   | Dartmouth College                     | United States | 65.7           | 93.7                   | 67.5           | 60.6                  | 41                         | 65.7
78   | Boston University                     | United States | 65.5           | 91.3                   | 63.5           | 81.4                  | 44.1                       | 47
190  | Worcester Polytechnic Institute       | United States | 55.7           | 98.6                   | 67.2           | 67.9                  | 21.9                       | 23

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q5:** How can you add a column to the table of US universities that shows the rank of each university considering only US universities? *Hint:* Check out https://inferentialthinking.com/chapters/06/Tables.html.

*Hint:* Remember, if you need a new column for your table, you need an array first

In [10]:
#SOLUTION
# Step 1: Filter the table to only US universities
us_universities = ranking.where("location", are.equal_to("United States"))

# Step 2: Add a new column with US-specific ranks
us_ranked = us_universities.with_column(
    "US Rank", np.arange(1, us_universities.num_rows + 1)
)

us_ranked

rank | ranking-institution-title             | location      | Overall scores | Research Quality Score | Industry Score | International Outlook | Research Environment Score | Teaching Score | US Rank
1    | Massachusetts Institute of Technology | United States | 94.8           | 92.2                   | 99.9           | 89.6                  | 96.5                       | 96             | 1
2    | Stanford University                   | United States | 93.1           | 91.9                   | 100            | 83.5                  | 91.8                       | 98.2           | 2
4    | University of California, Berkeley    | United States | 90.6           | 95.2                   | 90.6           | 83.5                  | 92.7                       | 91.1           | 3
9    | Harvard University                    | United States | 87.1           | 95.2                   | 69.8           | 82.1                  | 93.4                       | 95             | 4
11   | Duke University                       | United States | 85.7           | 80.2                   | 100            | 83                    | 87.5                       | 77.7           | 5
12   | The University of Chicago             | United States | 85.6           | 95.8                   | 67.6           | 79                    | 93.5                       | 91.9           | 6
14   | Yale University                       | United States | 85             | 86.9                   | 67.8           | 85.1                  | 89.3                       | 96.1           | 7
15   | Columbia University                   | United States | 84.8           | 79.2                   | 77.3           | 87.7                  | 87.8                       | 92             | 8
16   | Northwestern University               | United States | 84.1           | 86.2                   | 77.2           | 79.8                  | 89.4                       | 88             | 9
17   | University of Pennsylvania            | United States | 82.9           | 86.9                   | 71.4           | 74.9                  | 89.2                       | 92.2           | 10
... (133 rows omitted)

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q6:** What is the rank of the University of Florida internationally and in the US? Show only the name of the university and the two ranks. *Hint:* https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html might give you an idea.

In [12]:
#SOLUTION
us_ranked.where("ranking-institution-title", "University of Florida").select("ranking-institution-title", "rank", "US Rank")

ranking-institution-title | rank | US Rank
University of Florida     | 140  | 40

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q7:** How many countries have at least 1 university in your rankings table? You need to get the count and a table with just the names of the universities *Hint:* Are there any table methods you might use to group information?

In [13]:
#SOLUTION
ranking.group("location").num_rows

78

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q8:** What is the best university in teaching in the US? What is it worldwide? *Hint*: Check out https://inferentialthinking.com/chapters/06/1/Sorting_Rows.html.

In [16]:
#SOLUTION
us_ranked.sort("Teaching Score", descending=True).take(0)
# ranking.sort("Teaching Score", descending=True).take(0)

rank | ranking-institution-title | location      | Overall scores | Research Quality Score | Industry Score | International Outlook | Research Environment Score | Teaching Score | US Rank
2    | Stanford University       | United States | 93.1           | 91.9                   | 100            | 83.5                  | 91.8                       | 98.2           | 2

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q9:** How many universities have a research quality score below the average score? *Hint:* Think array operations on columns.

In [17]:
#SOLUTION
# Step 1: Compute the average Research Quality Score
avg_score = np.mean(ranking.column("Research Quality Score"))

# Step 2: Filter universities with score below the average
below_avg = ranking.where("Research Quality Score", are.below(avg_score))

# Step 3: Count how many universities meet the condition
below_avg.num_rows

409

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q10:** Is there a university that is in the top 20% according to the industry score but in the bottom 20% according to the research quality score? *Hint:* Divide this task into steps and solve it piece by piece. Dont forget to store important information in different variables! You might just need to access it later

In [ ]:
#SOLUTION

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q11:** From which country is the university with the lowest ranking in research environment? Print only the country. *Hint:* https://inferentialthinking.com/chapters/06/1/Sorting_Rows.html might give you an idea.

In [ ]:
#SOLUTION

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Q12: Challenge Question - UNGRADED**
You are a data analyst at Times Higher Education , one of the companies that releases the worldwide university ranking list every year. As an alternative list, your company wants to release a research focused university ranking list. The current ranking is decided by the Overall Score, which is a mean of all 5 factor scores. For a research focused ranking, your manager has asked you to make the following changes to how the score is calculated:
1. Research Quality Score and Research Environment Score are worth **1.5** times what they currently are
2. Industry Score and International Outlook are worth **half** of their current value.

Using these new weighing schemes. Calculate the new overall score and return the top 5 research universities.

This question can be solved by using the techniques taught in lectures and labs so far.

*Hint:* Look up array broadcasting https://numpy.org/doc/stable/user/basics.broadcasting.html and arithmetic operations with numpy arrays https://www.geeksforgeeks.org/numpy-arithmetic-operations/

This question will not be graded but you are strongly encouraged to give it a try. This question gives a good example of the level of problems you will be expected to solve in your project assignments (Midterm and Final). If you cannot solve it, try to write down the steps you would take to solve the problem. See if chatgpt can solve it for you with the right prompts.

In [ ]:
#SOLUTION

### Prompt Below:

In [ ]:
%%ai openai-chat:gpt-4

### Explain your workflow below:

*type your answer here*

**Congratulations! You have completed Lab 2. Please ensure all your code cells have been run, but do not rerun your ChatGPT cells. Please download the file in .ipynb format and submit it to Gradescope.**