In [9]:
# Click into this cell and press shift-enter before using this notebook.
# This line loads the ability to use %%ai in your file
%load_ext jupyter_ai_magics
# These lines import the Python modules we commonly use in CMPSC 5A
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots

The jupyter_ai_magics extension is already loaded. To reload it, use:
  %reload_ext jupyter_ai_magics

# Lecture 5, CMPSC 5A, S25

04/15/2025, Week 3

## Note to self: check in about font size

## Where are we in the reading?

By today, you should have finished reading:
* [Chapter 1: What is Data Science](https://inferentialthinking.com/chapters/01/what-is-data-science.html)
* [Chapter 3: Programming in Python](https://inferentialthinking.com/chapters/03/programming-in-python.html)
* [Chapter 4: Data Types](https://inferentialthinking.com/chapters/04/Data_Types.html)
* [Chapter 5 (Sequences)](https://inferentialthinking.com/chapters/05/Sequences.html) 
* [Chapter 6 (Intro)](https://inferentialthinking.com/chapters/06/Tables.html)
* [Section 6.1 (Sorting Rows)](https://inferentialthinking.com/chapters/06/1/Sorting_Rows.html#)
* [Section 6.2 (Selecting Rows)](https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html)

## Skipping ahead a bit: diving into Tables

Last lecture I went through Chapter 3 from the text, and we covered:
* Expresssions (and operators)
* Names (variables)
* Call Expressions (function calls)
* Introduction to Tables

We're going to skip past Chapters 4 and 5 for now and return to them as needed
* We've covered some of that material in lecture already
* And, I'm going to assume that you got the information you needed from the reading
* The interesting *Data Science* stuff all involves working with Tables, so we're going to plow ahead into Chapter 6.

We will circle back to all of those topics, but in the meantime, as/when you have questions about the material in Chapters 4 and 5, please:
* Ask questions in lecture, section, office hours
* Make Ed posts with your questions

## CSV Files

Last time we started looking at CSV files.  Here's what a CSV file looks like "under the hood":

In [12]:
%%ai openai-chat:gpt-3.5-turbo
Please produce a CSV file with data about the University of California campuses 
Please show it in raw form with these columns:
Campus,Location,Undergrad Enrollment,Grad Enrollment,Total Enrollment,Year Founded,Latitude,Longitude

```csv
Campus,Location,Undergrad Enrollment,Grad Enrollment,Total Enrollment,Year Founded,Latitude,Longitude
UCLA,Los Angeles,31600,13100,44700,1919,34.0689,-118.4439
UC Berkeley,Berkeley,30800,11700,42500,1868,37.8719,-122.2585
UC San Diego,San Diego,30200,9700,39900,1960,32.8801,-117.2340
UC Davis,Davis,30300,7500,37800,1905,38.5382,-121.7617
UC Santa Barbara,Santa Barbara,22000,3600,25600,1944,34.4133,-119.8489
UC Irvine,Irvine,29600,5800,35400,1965,33.6405,-117.8443
UC Santa Cruz,Santa Cruz,17300,1800,19100,1965,36.9914,-122.0588
UC Riverside,Riverside,23900,5400,29300,1954,33.9737,-117.3281
UC Merced,Merced,7700,1100,8800,2005,37.3646,-120.4244
```

We can copy paste these results into a cell and assign them to a variable:

In [48]:
uc_csv_data = """
Campus,Location,Undergrad Enrollment,Grad Enrollment,Total Enrollment,Year Founded,Latitude,Longitude
UCLA,Los Angeles,31600,13100,44700,1919,34.0689,-118.4439
UC Berkeley,Berkeley,30800,11700,42500,1868,37.8719,-122.2585
UC San Diego,San Diego,30200,9700,39900,1960,32.8801,-117.2340
UC Davis,Davis,30300,7500,37800,1905,38.5382,-121.7617
UC Santa Barbara,Santa Barbara,22000,3600,25600,1944,34.4133,-119.8489
UC Irvine,Irvine,29600,5800,35400,1965,33.6405,-117.8443
UC Santa Cruz,Santa Cruz,17300,1800,19100,1965,36.9914,-122.0588
UC Riverside,Riverside,23900,5400,29300,1954,33.9737,-117.3281
UC Merced,Merced,7700,1100,8800,2005,37.3646,-120.4244
"""

We can then load those into a table like this:

In [14]:
from io import StringIO
ucTable = Table.read_table(StringIO(uc_csv_data))

In [15]:
ucTable

Campus           | Location      | Undergrad Enrollment | Grad Enrollment | Total Enrollment | Year Founded | Latitude | Longitude
UCLA             | Los Angeles   | 31600                | 13100           | 44700            | 1919         | 34.0689  | -118.444
UC Berkeley      | Berkeley      | 30800                | 11700           | 42500            | 1868         | 37.8719  | -122.258
UC San Diego     | San Diego     | 30200                | 9700            | 39900            | 1960         | 32.8801  | -117.234
UC Davis         | Davis         | 30300                | 7500            | 37800            | 1905         | 38.5382  | -121.762
UC Santa Barbara | Santa Barbara | 22000                | 3600            | 25600            | 1944         | 34.4133  | -119.849
UC Irvine        | Irvine        | 29600                | 5800            | 35400            | 1965         | 33.6405  | -117.844
UC Santa Cruz    | Santa Cruz    | 17300                | 1800            | 19100            | 1965         | 36.9914  | -122.059
UC Riverside     | Riverside     | 23900                | 5400            | 29300            | 1954         | 33.9737  | -117.328
UC Merced        | Merced        | 7700                 | 1100            | 8800             | 2005         | 37.3646  | -120.424

Because this table has only nine rows, we see the entire table.  

Recall that when a table has more than 10 rows, we don't see the entire table unless we use the `.show()` method on the table. 

### Side note: The staff asks that you avoid `.show()` unless you really need it

But note: the staff have asked me to request that you avoid doing this unless you *really* need it; apparently, it causes the file size of your Jupyter Notebook to get really big (many more megabytes of storage on the disk), which makes it hard to download and grade.

### Still show your tables though, just with the table name:

You should still display your tables; the staff  do want to see the table for grading! 

But they typically only need the the first few rows, which typing the table name gives you, like this:

In [49]:
ucTable

Campus           | Location      | Undergrad Enrollment | Grad Enrollment | Total Enrollment | Year Founded | Latitude | Longitude
UCLA             | Los Angeles   | 31600                | 13100           | 44700            | 1919         | 34.0689  | -118.444
UC Berkeley      | Berkeley      | 30800                | 11700           | 42500            | 1868         | 37.8719  | -122.258
UC San Diego     | San Diego     | 30200                | 9700            | 39900            | 1960         | 32.8801  | -117.234
UC Davis         | Davis         | 30300                | 7500            | 37800            | 1905         | 38.5382  | -121.762
UC Santa Barbara | Santa Barbara | 22000                | 3600            | 25600            | 1944         | 34.4133  | -119.849
UC Irvine        | Irvine        | 29600                | 5800            | 35400            | 1965         | 33.6405  | -117.844
UC Santa Cruz    | Santa Cruz    | 17300                | 1800            | 19100            | 1965         | 36.9914  | -122.059
UC Riverside     | Riverside     | 23900                | 5400            | 29300            | 1954         | 33.9737  | -117.328
UC Merced        | Merced        | 7700                 | 1100            | 8800             | 2005         | 37.3646  | -120.424

## Some things we can do with a Table

We've already seen that we can find the number of rows and columns:

In [16]:
ucTable.num_rows

9

In [17]:
ucTable.num_columns

8

We've seen that we can make a new table with just particular columns:

In [19]:
ucLocations = ucTable.select("Campus", "Location","Latitude", "Longitude")
ucLocations

Campus           | Location      | Latitude | Longitude
UCLA             | Los Angeles   | 34.0689  | -118.444
UC Berkeley      | Berkeley      | 37.8719  | -122.258
UC San Diego     | San Diego     | 32.8801  | -117.234
UC Davis         | Davis         | 38.5382  | -121.762
UC Santa Barbara | Santa Barbara | 34.4133  | -119.849
UC Irvine        | Irvine        | 33.6405  | -117.844
UC Santa Cruz    | Santa Cruz    | 36.9914  | -122.059
UC Riverside     | Riverside     | 33.9737  | -117.328
UC Merced        | Merced        | 37.3646  | -120.424

## Chapter 6 Intro


In your text, the 
[Chapter 6 Introduction](https://inferentialthinking.com/chapters/06/Tables.html)
explains a bit more about Tables than what we learned in 
[Section 3.4: Introduction to Tables](https://inferentialthinking.com/chapters/03/4/Introduction_to_Tables.html).

We've already covered a few of these things.  Here are the topics from the intro to Chapter 6 that we've already covered.

| Code | Explanation |
|-|-|
| `table = Table()` | Create an empty table |
| `table.with_columns(title, data)` | Table with a column with name `title` and the column filled with the sequence (array, list, etc.) from `data` |
| `table.with_columns(title1, data1, title2, data2 ... titleN, dataN)` | Table with multiple columns 
| `Table().read_table(filename)` | Create a table from the CSV file in `filename` |
| `table.num_columns` | Number of columns | 
| `table.num_rows` | Number of rows | 
| `table.labels` | The labels on the columns (i.e. column names, column titles) |
| `table.relabelled(old_name, new_name)` | Create a new table with the name change indicated |

Here are some new things in the intro to Chapter 6 that we haven't covered yet:

| Code | Explanation |
|-|-|
| `table.labels` | The labels on the columns (i.e. column names, column titles) |
| `table.relabelled(old_name, new_name)` | Create a new table with the name change indicated |
| `table.column(column_name)` | If `column_name` is a string, return data from the column with that name as an array, not as a table |
| `table.column(column_num)` | If `column_num` is an integer, return data from that column (columns numbered 0, 1, 2 ... etc. |
| `table.column(column_num).item(row_num)` | Return data item from column and row |

Let's explore some of these on our `ucTable`.  Here's a reminder of what's in our `ucTable`:

In [22]:
ucTable

Campus           | Location      | Undergrad Enrollment | Grad Enrollment | Total Enrollment | Year Founded | Latitude | Longitude
UCLA             | Los Angeles   | 31600                | 13100           | 44700            | 1919         | 34.0689  | -118.444
UC Berkeley      | Berkeley      | 30800                | 11700           | 42500            | 1868         | 37.8719  | -122.258
UC San Diego     | San Diego     | 30200                | 9700            | 39900            | 1960         | 32.8801  | -117.234
UC Davis         | Davis         | 30300                | 7500            | 37800            | 1905         | 38.5382  | -121.762
UC Santa Barbara | Santa Barbara | 22000                | 3600            | 25600            | 1944         | 34.4133  | -119.849
UC Irvine        | Irvine        | 29600                | 5800            | 35400            | 1965         | 33.6405  | -117.844
UC Santa Cruz    | Santa Cruz    | 17300                | 1800            | 19100            | 1965         | 36.9914  | -122.059
UC Riverside     | Riverside     | 23900                | 5400            | 29300            | 1954         | 33.9737  | -117.328
UC Merced        | Merced        | 7700                 | 1100            | 8800             | 2005         | 37.3646  | -120.424

### `.labels`

The `.labels` method returns a *tuple* of strings of that consists of all of the column labels for a table.

A `tuple` in Python is a data type similar to a list; we can use slices on it just like a list.  The differences between lists and tuples that we care about are these:
* A `list` uses square brackets like this: `['Thing Zero', 'Thing One', 'Thing Two']`
* A `tuple` uses parentheses like this: `('Thing Zero', 'Thing One', 'Thing Two')`
* We can change a list (it is *mutable*) by adding things to it or removing things.
* We cannot change a tuple (it is *immutable*); it's value never changes.

In [23]:
ucTable.labels

('Campus',
 'Location',
 'Undergrad Enrollment',
 'Grad Enrollment',
 'Total Enrollment',
 'Year Founded',
 'Latitude',
 'Longitude')

In [29]:
type(ucTable.labels)

tuple

In [24]:
ucTable.labels[0]

'Campus'

In [25]:
ucTable.labels[5]

'Year Founded'

In [26]:
len(ucTable.labels)

8

Note that `len(ucTable.labels)` and `ucTable.num_columns` are the same; that should be true for any table:

In [27]:
ucTable.num_columns

8

### `table.relabelled(old_name, new_name)` 

We can relabel a column if we don't care for the names we were given. For example, consider our ucTable:

In [30]:
ucTable

Campus           | Location      | Undergrad Enrollment | Grad Enrollment | Total Enrollment | Year Founded | Latitude | Longitude
UCLA             | Los Angeles   | 31600                | 13100           | 44700            | 1919         | 34.0689  | -118.444
UC Berkeley      | Berkeley      | 30800                | 11700           | 42500            | 1868         | 37.8719  | -122.258
UC San Diego     | San Diego     | 30200                | 9700            | 39900            | 1960         | 32.8801  | -117.234
UC Davis         | Davis         | 30300                | 7500            | 37800            | 1905         | 38.5382  | -121.762
UC Santa Barbara | Santa Barbara | 22000                | 3600            | 25600            | 1944         | 34.4133  | -119.849
UC Irvine        | Irvine        | 29600                | 5800            | 35400            | 1965         | 33.6405  | -117.844
UC Santa Cruz    | Santa Cruz    | 17300                | 1800            | 19100            | 1965         | 36.9914  | -122.059
UC Riverside     | Riverside     | 23900                | 5400            | 29300            | 1954         | 33.9737  | -117.328
UC Merced        | Merced        | 7700                 | 1100            | 8800             | 2005         | 37.3646  | -120.424

We can make a new table by selecting out just the Campus, Latitude and Longitude:

In [31]:
ucLocations = ucTable.select("Campus","Latitude","Longitude")

In [32]:
ucLocations

Campus           | Latitude | Longitude
UCLA             | 34.0689  | -118.444
UC Berkeley      | 37.8719  | -122.258
UC San Diego     | 32.8801  | -117.234
UC Davis         | 38.5382  | -121.762
UC Santa Barbara | 34.4133  | -119.849
UC Irvine        | 33.6405  | -117.844
UC Santa Cruz    | 36.9914  | -122.059
UC Riverside     | 33.9737  | -117.328
UC Merced        | 37.3646  | -120.424

And then, we can rename the columns to make it easier to work with:

In [38]:
ucLocationsNew = ucLocations.relabeled("Campus","name")

In [39]:
ucLocationsNew

name             | Latitude | Longitude
UCLA             | 34.0689  | -118.444
UC Berkeley      | 37.8719  | -122.258
UC San Diego     | 32.8801  | -117.234
UC Davis         | 38.5382  | -121.762
UC Santa Barbara | 34.4133  | -119.849
UC Irvine        | 33.6405  | -117.844
UC Santa Cruz    | 36.9914  | -122.059
UC Riverside     | 33.9737  | -117.328
UC Merced        | 37.3646  | -120.424

We can also *chain* these methods to do multiple renamings:

In [41]:
ucLocationsNew = ucLocations.relabeled("Campus","name").relabeled("Latitude","lat").relabeled("Longitude","long")

In [42]:
ucLocationsNew

name             | lat     | long
UCLA             | 34.0689 | -118.444
UC Berkeley      | 37.8719 | -122.258
UC San Diego     | 32.8801 | -117.234
UC Davis         | 38.5382 | -121.762
UC Santa Barbara | 34.4133 | -119.849
UC Irvine        | 33.6405 | -117.844
UC Santa Cruz    | 36.9914 | -122.059
UC Riverside     | 33.9737 | -117.328
UC Merced        | 37.3646 | -120.424

## Line continuation in Python

If we don't like the way that looks in the code (really long), we can format the code like this, using a backslash `\` at the end of each line (except the last one) to say "there' more to come!"

In [47]:
ucLocationsNew = ucLocations \
  .relabeled("Campus","name") \
  .relabeled("Latitude","lat") \
  .relabeled("Longitude","long")
ucLocationsNew

name             | lat     | long
UCLA             | 34.0689 | -118.444
UC Berkeley      | 37.8719 | -122.258
UC San Diego     | 32.8801 | -117.234
UC Davis         | 38.5382 | -121.762
UC Santa Barbara | 34.4133 | -119.849
UC Irvine        | 33.6405 | -117.844
UC Santa Cruz    | 36.9914 | -122.059
UC Riverside     | 33.9737 | -117.328
UC Merced        | 37.3646 | -120.424

But note!  When you do this, the `\` (backslash) has to be the *last character on the line*.  If there is even so much as a space after it, it won't work.

In [46]:
ucLocationsNew = ucLocations \ 
  .relabeled("Campus","name") \
  .relabeled("Latitude","lat") \
  .relabeled("Longitude","long")

SyntaxError: unexpected character after line continuation character (3027024247.py, line 1)

### A certain column as an array: `table.column(col)`

We can get a specfic column as an `array` like this:

In [90]:
ucTable.column("Campus")

array(['UCLA', 'UC Berkeley', 'UC San Diego', 'UC Davis',
       'UC Santa Barbara', 'UC Irvine', 'UC Santa Cruz', 'UC Riverside',
       'UC Merced'],
      dtype='<U16')

Using `.column` gives us the specified column as an `array`, not as a table.  

Compare `.column` vs. `.select`:

In [91]:
ucTable.select("Campus")

Campus
UCLA
UC Berkeley
UC San Diego
UC Davis
UC Santa Barbara
UC Irvine
UC Santa Cruz
UC Riverside
UC Merced

And compare the data types.  Note that the data type is important because it tells you what methods you can and cannot apply to the object:

In [92]:
type(ucTable.select("Campus"))

datascience.tables.Table

In [93]:
type(ucTable.column("Campus"))

numpy.ndarray

* Using `.select`, we get a `datascience.tables.Table` back and we can use the `Table()` methods on it (from Chapter 6).
* Using `.column`, we get a `numpy.ndarray` back and we can use the `array` methods on it (from Chapter 5).

## A single cell: `table.column(col).item_num(row)`

If we want a specific cell, we can ask for it by column and row, using either column name or column number, and then row number.

For example:

In [85]:
ucTable

Campus           | Location      | Undergrad Enrollment | Grad Enrollment | Total Enrollment | Year Founded | Latitude | Longitude
UCLA             | Los Angeles   | 31600                | 13100           | 44700            | 1919         | 34.0689  | -118.444
UC Berkeley      | Berkeley      | 30800                | 11700           | 42500            | 1868         | 37.8719  | -122.258
UC San Diego     | San Diego     | 30200                | 9700            | 39900            | 1960         | 32.8801  | -117.234
UC Davis         | Davis         | 30300                | 7500            | 37800            | 1905         | 38.5382  | -121.762
UC Santa Barbara | Santa Barbara | 22000                | 3600            | 25600            | 1944         | 34.4133  | -119.849
UC Irvine        | Irvine        | 29600                | 5800            | 35400            | 1965         | 33.6405  | -117.844
UC Santa Cruz    | Santa Cruz    | 17300                | 1800            | 19100            | 1965         | 36.9914  | -122.059
UC Riverside     | Riverside     | 23900                | 5400            | 29300            | 1954         | 33.9737  | -117.328
UC Merced        | Merced        | 7700                 | 1100            | 8800             | 2005         | 37.3646  | -120.424

In [88]:
ucTable.column("Campus").item(4)

'UC Santa Barbara'

In [89]:
ucTable.column("Undergrad Enrollment").item(4)

22000

### Still in Chapter 6 intro; but we need to go back...

Now, we are still working through the Chapter 6 intro, but we are going to need to go back a bit, because 
some of what we see in Chapter 6 depends on understanding *sequences*, especially the `array` data type which is described in [Chapter 5](https://inferentialthinking.com/chapters/05/Sequences.html).

Here's an example of why we need it.  

Let's make a smaller table from our `ucTable` that just shows campus and year founded:

In [51]:
ucYears = ucTable.select("Campus","Year Founded") \
  .relabel("Year Founded","year") \
  .relabel("Campus","name")
ucYears

name             | year
UCLA             | 1919
UC Berkeley      | 1868
UC San Diego     | 1960
UC Davis         | 1905
UC Santa Barbara | 1944
UC Irvine        | 1965
UC Santa Cruz    | 1965
UC Riverside     | 1954
UC Merced        | 2005

Suppose we want to add a column called "age" to this table, which is the number of years the campus has been around (i.e. 2025 - year).

There are a few ways to do this, but the easiest is to add a new column that uses `array` operations.  Here's what that looks like.

First, let's select out just the year column:

In [52]:
ucYears.column("year")

array([1919, 1868, 1960, 1905, 1944, 1965, 1965, 1954, 2005])

Now, we'll use an array operation to subtract each of these years from 2025.  Note that this looks a little strange; we are subtracting an *entire column* of data (in the form of an `array`) from the integer 2025:

In [53]:
2025 - ucYears.column("year")

array([106, 157,  65, 120,  81,  60,  60,  71,  20])

Let's give that array a name, and ask what it's data type is:

In [55]:
ages = 2025 - ucYears.column("year") 
type(ages)

numpy.ndarray

We see that the data type is `numpy.ndarray`.  
* That means this comes from the `numpy` module.
* When we ask ChatGPT questions about arrays, it may help to specify `numpy.ndarray` so that ChatGPT knows *specifically* what kind of array we are talking about.
* `numpy` is the module that we have given the nickname (or *alias*) `np` at the top of our file with:
  ```
  import numpy as np
  ```
* The `nd` in `ndarray` stands for *n-dimensional*.  While the example we are seeing here has only one dimension, as we may see later, the array could also have 2 dimensions (like a table does), or even higher dimensions; it's a very useful abstraction.
* Side note (and if you haven't taken a Linear Algebra course such as Math 4A, you may ignore what I'm about to say): the `numpy.ndarray` data type is often used to model vectors and matrices.

Now that we have `ages` in an array, we can add it to a new table:

In [58]:
ucAges = ucYears.with_column("age",ages)
ucAges

name             | year | age
UCLA             | 1919 | 106
UC Berkeley      | 1868 | 157
UC San Diego     | 1960 | 65
UC Davis         | 1905 | 120
UC Santa Barbara | 1944 | 81
UC Irvine        | 1965 | 60
UC Santa Cruz    | 1965 | 60
UC Riverside     | 1954 | 71
UC Merced        | 2005 | 20

That may be enough of the Chapter 5 material for now.

Keep in mind we may have to dip our toes back in from time-to-time as the need arises, but I don't want to get bogged down; let's forge ahead with what we are going to need for lab02.

## Section 6.1: Sorting a table

Sorting a table is covered in [Section 6.1](https://inferentialthinking.com/chapters/06/1/Sorting_Rows.html).

The following isn't a complete coverage of [Section 6.1](https://inferentialthinking.com/chapters/06/1/Sorting_Rows.html), so *you still need to read it*.

Now that we have a table that has all of the UCs in it, let's sort them by age:

In [59]:
ucAges.sort("age")

name             | year | age
UC Merced        | 2005 | 20
UC Irvine        | 1965 | 60
UC Santa Cruz    | 1965 | 60
UC San Diego     | 1960 | 65
UC Riverside     | 1954 | 71
UC Santa Barbara | 1944 | 81
UCLA             | 1919 | 106
UC Davis         | 1905 | 120
UC Berkeley      | 1868 | 157

By default, we get smallest to largest (in this case, newest first, oldest last).

If we want the opposite direction, we can specify it this way:

In [62]:
ucAges.sort("age", descending=True)

name             | year | age
UC Berkeley      | 1868 | 157
UC Davis         | 1905 | 120
UCLA             | 1919 | 106
UC Santa Barbara | 1944 | 81
UC Riverside     | 1954 | 71
UC San Diego     | 1960 | 65
UC Irvine        | 1965 | 60
UC Santa Cruz    | 1965 | 60
UC Merced        | 2005 | 20

## Other things covered in Section 6.1

I'm going to move past a few things from Section 6.1 that are important, but I'm going to leave you to read for yourself, because there isn't enough time for me to just walk you through *everything* in the textbook.

Please read for yourself about:
* positional arguments (this applies to *all* function and method calls in Python)
* the `distinct` argument to the `sort` method for `Table()`.

## Section 6.2: Selecting Rows from a table

Selecting rows from a table is covered in [Section 6.2](https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html)

### Aside: What is a *use case*

From time to time, you'll hear folks that deal with computing systems talk about a *use case*.

This is a fancy way of saying: "why would I ever need this"?

As an example, the `Table()` data type from the `datascience` library has a method called `take()`.

I could either explain to you what it does: 
* It produces a new table with the selected rows, specified by their *indices* (row numbers starting from 0)

But, what's typically more *helpful* is if I first explain the *use case*, i.e.
* I explain "what are we trying to do" first,
* And then I show you how to use `.take()` to *do that thing*.

Note that a method like `.take()` typically has *many* use cases, not just one. But here's an important one:

### Use case: List the five oldest UC Campuses

If we have a table of UC Campuses with their ages, like this:

In [63]:
ucAges

name             | year | age
UCLA             | 1919 | 106
UC Berkeley      | 1868 | 157
UC San Diego     | 1960 | 65
UC Davis         | 1905 | 120
UC Santa Barbara | 1944 | 81
UC Irvine        | 1965 | 60
UC Santa Cruz    | 1965 | 60
UC Riverside     | 1954 | 71
UC Merced        | 2005 | 20

We can find the five oldest UCs, by:
* First, sorting oldest to newest
* Then, taking the first five rows

Here's what that looks like:

In [65]:
ucAges.sort("age",descending=True).take(np.arange(5))

name             | year | age
UC Berkeley      | 1868 | 157
UC Davis         | 1905 | 120
UCLA             | 1919 | 106
UC Santa Barbara | 1944 | 81
UC Riverside     | 1954 | 71

Let's unpack that from the inside out, starting with `np.arange(5)`

* It's important to know that `np` is an abbreviation for `numpy` in case we want to look up the documentation for `arange` or ask an AI about it.
* Thus: `np.arange(5)` refers to the `arange` function from the `numpy` module.
* What it does is described in [Section 5.2 (Ranges)](https://inferentialthinking.com/chapters/05/2/Ranges.html), which you have hopefully already read, but lets review it now.

So `np.arange(5)` gives us a numpy.ndarray (an n-dimensional array, but in this case a 1-dimensional array), with the numbers `0, 1, 2, 3, and 4`:

In [66]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [67]:
type(np.arange(5))

numpy.ndarray

In [68]:
len(np.arange(5))

5

As you might guess, `np.arange(7)` starts at zero and ends at six:

In [69]:
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

So, now we can see that

* The code `ucAges.sort("age",descending=True).take(np.arange(5))`
* is the same as: `ucAges.sort("age",descending=True).take([0,1,2,3,4])`

In [70]:
ucAges.sort("age",descending=True).take([0,1,2,3,4])

name             | year | age
UC Berkeley      | 1868 | 157
UC Davis         | 1905 | 120
UCLA             | 1919 | 106
UC Santa Barbara | 1944 | 81
UC Riverside     | 1954 | 71

Which means: sort in descending order by age, and take the first five things (i.e. the five oldest).

What if we wanted the three newest?

In [73]:
ucAges.sort("age",descending=False).take([0,1,2])

name          | year | age
UC Merced     | 2005 | 20
UC Irvine     | 1965 | 60
UC Santa Cruz | 1965 | 60

In [75]:
ucAges.sort("age",descending=False).take(np.arange(3))

name          | year | age
UC Merced     | 2005 | 20
UC Irvine     | 1965 | 60
UC Santa Cruz | 1965 | 60

### HOWEVER!  Theres's a trap here!

Look at the data for the ages of the UC Campuses. What is the trap that I could fall into when selecting the "n oldest" or "n newest" UCs using *this technique*?  There's a case where I might get the *wrong answer*.

Think about that and discuss it with your neighbor for a moment; then I'll see if anyone has thoughts...

In [77]:
ucAges.sort("age")

name             | year | age
UC Merced        | 2005 | 20
UC Irvine        | 1965 | 60
UC Santa Cruz    | 1965 | 60
UC San Diego     | 1960 | 65
UC Riverside     | 1954 | 71
UC Santa Barbara | 1944 | 81
UCLA             | 1919 | 106
UC Davis         | 1905 | 120
UC Berkeley      | 1868 | 157

<details>
  <summary>Here's the situation I had in mind</summary>  
  The trap occurs if I ask for the two newest UCs, or the seven oldest UCs using this method.
  Can you figure out why?
</details>

<details>
  <summary>Here's an example of it getting a wrong (or at least incomplete/misleading) answer </summary>  

This approach to getting the two oldest or two newest UCs would use code like this:

```python
twoNewest = ucAges.sort("age").take(np.arange(2)) # naive approach to "two newest UCs"
sevenOldest = ucAges.sort("age", descending=True).take(np.arange(7)) # naive approach to "seven oldest UCs"
```

But *there's a tie* between UC Santa Cruz and UC Irvine, which were founded in the same year.  

Strictly speaking, we could break the tie by seeing if they were founded on different days of the year.

(In fact, search results show that UC Santa Cruz was founded in June 1965, with the day unclear, and UC Irvine on October 4, 1965, so technically, UC Santa Cruz is older.)

*BUT* for purposes of this example, let's pretend they were founded on the same day in 1965, and are exactly the same age.

</details>

The next few cells and their output are *collapsed* so as not to give away the answer too soon in lecture.  You can *expand* a collapsed cell in a notebook on JupyterHub by using the commands on the `View` menu (`Collapse...` and `Expand...`) or by clicking the three dots on a collapsed cell (e.g.  )

In [83]:
ucAges.sort("age").take(np.arange(2)) # naive approach to "two newest UCs"

name      | year | age
UC Merced | 2005 | 20
UC Irvine | 1965 | 60

In [82]:
ucAges.sort("age", descending=True).take(np.arange(7)) # naive approach to "seven oldest UCs"

name             | year | age
UC Berkeley      | 1868 | 157
UC Davis         | 1905 | 120
UCLA             | 1919 | 106
UC Santa Barbara | 1944 | 81
UC Riverside     | 1954 | 71
UC San Diego     | 1960 | 65
UC Irvine        | 1965 | 60

### A better approach

If we want to find the seven oldest UCs *but also account for ties* (meaning we could get actually get more than two), we need a slightly more sophisticated approach. 

<details>
    <summary>Here's what we'll do:</summary>

* We start the same way, by sorting the table by age
* Then, if we want the seven oldest UCs (but allowing for ties), we find the age of the single UC that's in position 6 in that list (recall that we use 6, not 7, because the numbers start at 0).
* Then we find all UCs that have an age that is greater than or equal to that number.

Here's what that looks like:
    
</details>

In [94]:
ageOf7thOldestUC = ucAges.sort("age", descending=True).column("age").item(6)
ageOf7thOldestUC

60

In [96]:
oldestUCs = ucAges.where("age",are.above_or_equal_to(ageOf7thOldestUC))
oldestUCs

name             | year | age
UCLA             | 1919 | 106
UC Berkeley      | 1868 | 157
UC San Diego     | 1960 | 65
UC Davis         | 1905 | 120
UC Santa Barbara | 1944 | 81
UC Irvine        | 1965 | 60
UC Santa Cruz    | 1965 | 60
UC Riverside     | 1954 | 71

Note that this is the right answer, but the data aren't sorted!   That's because the sort command returns a new table; it doesn't sort the existing one!  

So after the first command, the ucAges table is still in the origial order.  If we want it to be sorted, we have to sort it again, like this:

In [99]:
oldestUCs = ucAges.where("age",are.above_or_equal_to(ageOf7thOldestUC)).sort("age", descending="True")
oldestUCs

name             | year | age
UC Berkeley      | 1868 | 157
UC Davis         | 1905 | 120
UCLA             | 1919 | 106
UC Santa Barbara | 1944 | 81
UC Riverside     | 1954 | 71
UC San Diego     | 1960 | 65
UC Irvine        | 1965 | 60
UC Santa Cruz    | 1965 | 60

### Extra material if time

What we've covered above, should be enough for you to work on lab02

So if we get this far before the end of lecture, we'll
* Take questions
* Give you a preview of lab02
* Go through the examples in lab02